node_modules/
site/
cache/

.env
**/.DS_Store
**/.DS_Store?

yarn-error.log

#  Ignore all content under output/ except CSV folder (output/grainIntegration/)
output/credGrainView
output/credGraph
output/graphs/
